# 대기환경 데이터 전처리
- numpy와 pandas를 활용해 충청북도의 대기환경 데이터를 가공
- 데이터 출처: 에어코리아

In [1]:
import pandas as pd
import numpy as np

'air_19_1.csv' 파일을 데이터프레임으로 읽어주세요. encoding은 'CP949'입니다.

In [30]:
air = pd.read_csv("air_19_1.csv",encoding="CP949")

결측값을 확인해주세요

In [31]:
air.isnull().sum()

지역          0
망           0
측정소코드       0
측정소명        0
측정일시        0
SO2      3399
CO       3427
O3       2640
NO2      2743
PM10     2787
PM25     3368
주소          0
dtype: int64

모든 결측값을 0으로 바꿔주세요.

In [32]:
air = air.fillna(0)

In [33]:
air.isnull().sum()

지역       0
망        0
측정소코드    0
측정소명     0
측정일시     0
SO2      0
CO       0
O3       0
NO2      0
PM10     0
PM25     0
주소       0
dtype: int64

SO2, CO, O3, NO2, PM10, PM25 컬럼의 이름을 아황산가스, 일산화탄소, 오존, 이산화질소, 미세먼지, 초미세먼지로 바꿔주세요

In [34]:
air.rename({"SO2":"아황산가스",
           "CO":"일산화탄소",
           "O3":"오존",
          "NO2":"이산화질소",
          "PM10":"미세먼지",
          "PM25":"초미세먼지"},axis=1,inplace=True)

측정일시 컬럼에서 연도, 월, 일을 추출해 연도, 월, 일 컬럼을 새로 생성해주세요. (힌트: map 사용)

In [35]:
air['연도'] = air.측정일시.astype('str').map(lambda x:x[:4])
air['월'] = air.측정일시.astype('str').map(lambda x:x[4:6])
air['일'] = air.측정일시.astype('str').map(lambda x:x[6:8])

air에서 '측정소명', '측정일시','주소' 컬럼을 삭제해주세요.

In [36]:
air.drop(["측정소명","측정일시","주소"],axis=1,inplace=True)

In [37]:
air.head()

,지역,망,측정소코드,아황산가스,일산화탄소,오존,이산화질소,미세먼지,초미세먼지,연도,월,일
0,충북 괴산군,교외대기,633361,0.0001,0.4,0.017,0.0048,49.0,0.0,2019,01,29
1,충북 괴산군,교외대기,633361,0.0001,0.4,0.017,0.0051,46.0,0.0,2019,01,29
2,충북 괴산군,교외대기,633361,0.0002,0.5,0.018,0.0051,63.0,0.0,2019,01,29
3,충북 괴산군,교외대기,633361,0.0002,0.4,0.016,0.0058,47.0,0.0,2019,01,29
4,충북 괴산군,교외대기,633361,0.0002,0.5,0.017,0.0053,58.0,0.0,2019,01,29

air 데이터를 측정소코드, 연도, 월, 일을 기준으로 오름차순 정렬해주세요.

In [38]:
air.sort_values(by=["측정소코드","연도","월","일"],inplace=True)

정렬을 하면서 인덱스가 뒤섞였습니다. 데이터의 인덱스를 0부터 15133까지 숫자로 초기화해주세요.

In [39]:
air = air.reset_index()

groupby를 이용해 지역별 미세먼지 평균을 구하고, 구한 데이터프레임을 dust 변수에 할당하세요.

In [44]:
air.head()

,index,지역,망,측정소코드,아황산가스,일산화탄소,오존,이산화질소,미세먼지,초미세먼지,연도,월,일
0,4803,충북 청주시,도시대기,533112,0.004,0.3,0.024,0.012,35.0,28.0,2019,01,01
1,8009,충북 청주시,도시대기,533112,0.005,0.5,0.023,0.012,41.0,35.0,2019,01,01
2,8015,충북 청주시,도시대기,533112,0.005,0.4,0.020,0.013,42.0,34.0,2019,01,01
3,8016,충북 청주시,도시대기,533112,0.005,0.5,0.021,0.012,48.0,31.0,2019,01,01
4,8035,충북 청주시,도시대기,533112,0.005,0.4,0.018,0.013,34.0,25.0,2019,01,01

In [45]:
dust = air.groupby(["지역"]).agg({"미세먼지":"mean"})

In [46]:
dust

             미세먼지
지역
충북 괴산군  29.293011
충북 단양군  63.723118
충북 보은군  70.123656
충북 영동군  63.575269
충북 옥천군  63.645161
충북 음성군  54.445892
충북 제천시  69.536290
충북 증평군  68.663978
충북 진천군  68.592742
충북 청주시  55.501680
충북 충주시  69.220430

dust의 인덱스는 '지역'입니다. 인덱스를 컬럼으로 빼주세요.

In [47]:
dust.reset_index()

        지역       미세먼지
0   충북 괴산군  29.293011
1   충북 단양군  63.723118
2   충북 보은군  70.123656
3   충북 영동군  63.575269
4   충북 옥천군  63.645161
5   충북 음성군  54.445892
6   충북 제천시  69.536290
7   충북 증평군  68.663978
8   충북 진천군  68.592742
9   충북 청주시  55.501680
10  충북 충주시  69.220430

dust에서, 충북 전체의 미세먼지 평균 초과의 지역만 추출해 dust2에 할당해주세요.

In [53]:
dust2 = dust[dust["미세먼지"]>dust.미세먼지.mean()]

groupby를 이용해 지역별 오존 평균을 구하고, 구한 데이터프레임을 ozon 변수에 할당하세요.

In [56]:
ozon = air.groupby(["지역"]).agg({"오존":"mean"})

dust2와 ozon을 병합하되, 두 데이터에 모두 있는 지역만 병합해주세요.

In [59]:
merged = pd.merge(dust2, ozon, left_index=True, right_on='지역', how='inner')

병합한 데이터를 한글이 깨지지 않게 csv로 저장해주세요.

In [60]:
merged.to_csv('지역별 미세먼지,오존.csv', index=False,encoding='utf-8')

인덱스는 일(day), 컬럼은 지역이고 값은 미세먼지의 평균인 피벗 테이블을 생성해주세요.

In [70]:
piv = pd.pivot_table(air, index='일', columns='지역', values= '미세먼지', aggfunc='mean')

지역 컬럼을 기준으로 오름차순(가나다 순)으로 정렬해주세요.
(힌트: 정렬 기준은 piv.columns.tolist().sort() 사용 )

In [71]:
piv.columns.tolist().sort()
piv

지역,충북 괴산군,충북 단양군,충북 보은군,충북 영동군,충북 옥천군,충북 음성군,충북 제천시,충북 증평군,충북 진천군,충북 청주시,충북 충주시
일,,,,,,,,,,,
01,19.770833,52.250000,42.500000,43.750000,42.458333,47.666667,54.291667,42.291667,36.916667,36.109375,53.854167
02,11.250000,41.500000,38.250000,39.916667,34.708333,38.208333,52.708333,32.583333,33.375000,28.625000,46.979167
03,14.937500,52.791667,47.125000,39.541667,42.083333,52.791667,57.041667,49.708333,47.541667,40.057292,53.312500
04,25.791667,62.875000,63.541667,47.250000,55.583333,63.458333,71.875000,70.916667,64.625000,54.906250,89.437500
05,31.437500,71.000000,76.666667,60.750000,62.083333,85.791667,82.750000,63.500000,69.041667,50.098958,71.458333
06,24.250000,50.541667,57.833333,45.208333,50.625000,56.666667,65.375000,56.083333,52.416667,45.890625,61.791667
07,30.583333,67.916667,76.958333,61.000000,69.125000,71.000000,71.833333,68.500000,62.000000,55.817708,73.229167
08,26.375000,66.541667,69.458333,51.583333,52.166667,66.333333,66.375000,60.791667,56.833333,52.270833,81.041667
09,24.625000,50.750000,52.375000,50.125000,51.291667,54.541667,58.458333,53.250000,57.833333,46.604167,62.458333
10,18.812500,54.500000,52.791667,49.916667,52.791667,69.541667,58.791667,61.208333,57.375000,50.640625,65.395833
11,29.187500,67.541667,75.250000,68.416667,74.916667,86.541667,84.458333,77.083333,79.958333,59.760417,56.229167
12,43.312500,75.833333,99.541667,64.666667,91.208333,125.958333,89.083333,116.125000,109.083333,83.786458,106.062500
13,54.104167,97.291667,106.583333,87.583333,94.250000,115.916667,112.875000,109.291667,104.916667,81.067708,69.979167
14,69.708333,107.291667,150.791667,121.166667,138.083333,163.375000,135.083333,151.083333,172.125000,129.937500,114.104167
15,58.916667,107.041667,124.500000,116.333333,124.083333,151.125000,126.083333,132.000000,128.125000,100.489583,133.437500
16,13.875000,52.000000,56.291667,50.541667,51.541667,58.625000,60.375000,48.375000,50.500000,42.328125,61.791667
17,20.625000,42.083333,45.333333,48.250000,46.000000,23.708333,38.333333,39.875000,46.791667,34.734375,44.645833
18,29.000000,50.458333,83.250000,85.625000,75.875000,68.458333,50.750000,75.208333,72.875000,66.421875,59.500000
19,37.229167,63.666667,97.958333,94.750000,93.083333,120.125000,74.583333,109.083333,115.000000,92.015625,85.833333
20,28.625000,62.500000,66.000000,55.791667,60.333333,80.583333,62.666667,67.083333,66.416667,50.317708,69.479167
21,17.041667,38.833333,36.958333,34.375000,36.916667,27.421053,38.416667,36.416667,38.041667,30.145833,37.687500
22,29.708333,60.041667,68.458333,74.833333,65.916667,32.645833,61.000000,56.375000,60.166667,50.625000,65.166667
23,23.583333,85.375000,82.708333,89.708333,88.791667,33.208333,73.916667,69.291667,74.375000,60.661458,75.812500
24,17.833333,49.500000,44.458333,47.166667,42.583333,23.354167,52.458333,42.833333,42.583333,34.697917,48.791667
25,19.437500,52.708333,52.833333,50.541667,48.583333,23.250000,53.875000,49.833333,45.666667,39.812500,53.000000
26,24.625000,51.583333,54.625000,56.333333,52.791667,24.979167,48.958333,50.291667,50.041667,38.234375,50.958333
27,21.604167,53.333333,47.958333,46.833333,41.000000,20.854167,51.666667,50.416667,41.833333,36.546875,46.083333
28,39.729167,67.500000,74.041667,69.750000,68.791667,40.625000,65.125000,72.875000,78.625000,56.182292,73.416667
29,34.708333,72.250000,79.833333,80.791667,75.000000,41.333333,79.083333,74.041667,79.750000,62.635417,77.625000
30,32.437500,70.291667,76.250000,71.416667,65.625000,30.395833,72.333333,75.291667,65.375000,57.411458,79.437500
31,34.958333,77.625000,72.708333,66.916667,24.708333,39.458333,85.000000,66.875000,66.166667,51.718750,77.833333

일별 미세먼지 평균을 피벳 테이블의 새로운 컬럼으로 추가해주세요.

In [72]:
piv["daily_mean"] = np.mean(piv,axis=1)

In [73]:
piv

지역,충북 괴산군,충북 단양군,충북 보은군,충북 영동군,충북 옥천군,충북 음성군,충북 제천시,충북 증평군,충북 진천군,충북 청주시,충북 충주시,daily_mean
일,,,,,,,,,,,,
01,19.770833,52.250000,42.500000,43.750000,42.458333,47.666667,54.291667,42.291667,36.916667,36.109375,53.854167,42.896307
02,11.250000,41.500000,38.250000,39.916667,34.708333,38.208333,52.708333,32.583333,33.375000,28.625000,46.979167,36.191288
03,14.937500,52.791667,47.125000,39.541667,42.083333,52.791667,57.041667,49.708333,47.541667,40.057292,53.312500,45.175663
04,25.791667,62.875000,63.541667,47.250000,55.583333,63.458333,71.875000,70.916667,64.625000,54.906250,89.437500,60.932765
05,31.437500,71.000000,76.666667,60.750000,62.083333,85.791667,82.750000,63.500000,69.041667,50.098958,71.458333,65.870739
06,24.250000,50.541667,57.833333,45.208333,50.625000,56.666667,65.375000,56.083333,52.416667,45.890625,61.791667,51.516572
07,30.583333,67.916667,76.958333,61.000000,69.125000,71.000000,71.833333,68.500000,62.000000,55.817708,73.229167,64.360322
08,26.375000,66.541667,69.458333,51.583333,52.166667,66.333333,66.375000,60.791667,56.833333,52.270833,81.041667,59.070076
09,24.625000,50.750000,52.375000,50.125000,51.291667,54.541667,58.458333,53.250000,57.833333,46.604167,62.458333,51.119318
10,18.812500,54.500000,52.791667,49.916667,52.791667,69.541667,58.791667,61.208333,57.375000,50.640625,65.395833,53.796875
11,29.187500,67.541667,75.250000,68.416667,74.916667,86.541667,84.458333,77.083333,79.958333,59.760417,56.229167,69.031250
12,43.312500,75.833333,99.541667,64.666667,91.208333,125.958333,89.083333,116.125000,109.083333,83.786458,106.062500,91.332860
13,54.104167,97.291667,106.583333,87.583333,94.250000,115.916667,112.875000,109.291667,104.916667,81.067708,69.979167,93.987216
14,69.708333,107.291667,150.791667,121.166667,138.083333,163.375000,135.083333,151.083333,172.125000,129.937500,114.104167,132.068182
15,58.916667,107.041667,124.500000,116.333333,124.083333,151.125000,126.083333,132.000000,128.125000,100.489583,133.437500,118.375947
16,13.875000,52.000000,56.291667,50.541667,51.541667,58.625000,60.375000,48.375000,50.500000,42.328125,61.791667,49.658617
17,20.625000,42.083333,45.333333,48.250000,46.000000,23.708333,38.333333,39.875000,46.791667,34.734375,44.645833,39.125473
18,29.000000,50.458333,83.250000,85.625000,75.875000,68.458333,50.750000,75.208333,72.875000,66.421875,59.500000,65.220170
19,37.229167,63.666667,97.958333,94.750000,93.083333,120.125000,74.583333,109.083333,115.000000,92.015625,85.833333,89.393466
20,28.625000,62.500000,66.000000,55.791667,60.333333,80.583333,62.666667,67.083333,66.416667,50.317708,69.479167,60.890625
21,17.041667,38.833333,36.958333,34.375000,36.916667,27.421053,38.416667,36.416667,38.041667,30.145833,37.687500,33.841308
22,29.708333,60.041667,68.458333,74.833333,65.916667,32.645833,61.000000,56.375000,60.166667,50.625000,65.166667,56.812500
23,23.583333,85.375000,82.708333,89.708333,88.791667,33.208333,73.916667,69.291667,74.375000,60.661458,75.812500,68.857481
24,17.833333,49.500000,44.458333,47.166667,42.583333,23.354167,52.458333,42.833333,42.583333,34.697917,48.791667,40.569129
25,19.437500,52.708333,52.833333,50.541667,48.583333,23.250000,53.875000,49.833333,45.666667,39.812500,53.000000,44.503788
26,24.625000,51.583333,54.625000,56.333333,52.791667,24.979167,48.958333,50.291667,50.041667,38.234375,50.958333,45.765625
27,21.604167,53.333333,47.958333,46.833333,41.000000,20.854167,51.666667,50.416667,41.833333,36.546875,46.083333,41.648201
28,39.729167,67.500000,74.041667,69.750000,68.791667,40.625000,65.125000,72.875000,78.625000,56.182292,73.416667,64.241951
29,34.708333,72.250000,79.833333,80.791667,75.000000,41.333333,79.083333,74.041667,79.750000,62.635417,77.625000,68.822917
30,32.437500,70.291667,76.250000,71.416667,65.625000,30.395833,72.333333,75.291667,65.375000,57.411458,79.437500,63.296875
31,34.958333,77.625000,72.708333,66.916667,24.708333,39.458333,85.000000,66.875000,66.166667,51.718750,77.833333,60.360795

지역별 미세먼지 평균을 피벗 테이블의 마지막 행으로 추가해주세요

In [ ]:
piv.loc['']np.mean(piv,axis=0)

수고하셨습니다!